* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
}

header.importante {
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 280px;
    text-align: center;
    padding:0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.importante h1 {
    color: rgb(55, 54, 54); 
    font-size: 48px;
    display: block;
    padding-bottom: 20px;   
}

header.importante p {
    font-size: 25px;
    font-weight: 200;
    text-decoration: underline;
    cursor: pointer;
}

header.importante p:hover {
    color: rgb(160, 160, 152);
}

main.principal {
    background-color:  rgb(246, 244, 244);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: center;
    font-size: 2em;
}

main.principal div.conteudo {
    width: calc(50% - 20px);
    background-color: rgb(198, 33, 33);
    margin: 0px 10px;
    padding: 40px 25px;
    border-radius: 5px;
    color: white;
    
}
main.principal div.primeiro {
    background-color: rgba(33, 95, 33, 0.789);
}
main.principal div.ultimo {
    width: 100%; 
    margin-top: 40px;
    background-color: rgb(70, 69, 69);
}

@media (max-width:720px) {
    main.principal div.conteudo{
        width: 100%;
        margin: 15px auto;
    }
}

footer > h2 {
    font-size: 3em;
    font-weight: normal;
    color: rgba(32, 32, 32, 0.816);
    text-align: center;
}

footer > div {
    
}








